body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  --dark-blue-grey: #173143; 
  --warm-grey: #888;
}

@font-face{
  font-family: IdealSansMedium;
  src: url("../assets/fonts/IDEALSANS-MEDIUM.OTF");
}
@font-face{
  font-family: IdealSansLight;
  src: url("../assets/fonts/IDEALSANS-LIGHT.OTF");
}
@font-face{
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir Next.ttc") format('truetype')
}

.header {
  width: 95%;
  height: 30%;
  background: var(--dark-blue-grey);
  padding: 2.5%;
}
.header-contents {
  display: inline-flex;
  justify-content: left;
}
.header img {
  height: 15vw;
  width: 13vw;
  border: 1px solid white;
}
.hygiene-headings {
  margin-left: 2vw;
}
.we-are-proud-to-share{
  font-family: IdealSansMedium;
  font-size: 3vw;
  font-weight: 600;
  text-align: left;
  color: #4f92c9;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.food-hygiene-rating{
  font-family: AvenirNext;
  font-size: 4vw;
  font-weight: 600;
  color: #fff;
  width: 35vw;
}
.rating-container{
  width: 50vw;
  height: 35vh;
  margin: 2.5vw 0 0 2.5vw;
}
.rating-divs {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
}
.rating{
  font-family: AvenirNext;
  font-size: 3.5vw;
  height: 4.5vw;
  color: #aaadbd;
  font-weight: 600;
  border: .6vw solid #aaadbd;
  border-radius: 50%;
  text-align: center; 
  padding: .6vw 1.8vw;
  
}
.rated{
  background: #e1767c;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: .3vw;
  width: 9.5vw;
  margin: 0 auto;
  margin-top: -1.5vw;
}
.layer-1{
  background: #e68d92;
  padding: .5vw;
  border-radius: 50%;
  padding: .5vw;
}
.layer-2{
  font-size: 6vw;
  font-family: AvenirNext;
  background: #e1767c;
  border-radius: 50%;
  padding: 0 2.4vw;
  margin: 0;
}
.marker{
  width: 0; 
  height: 0; 
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid #e1767c;
  margin: 10px auto;
}
.quality{
  font-family: AvenirNext;
  font-size: 3vw;
  color: #e1767c;
  text-align: center;
}
.valid-until-audited-by{
  font-weight: normal;
  font-family: Arial;
  text-align: center;
  margin: 15px 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
}
.initiative-by{
  margin: .5vw 0 1vw 2.5vw;
}
.initiative-by p:first-child{
  font-family: AvenirNext;
  color: #999;
  font-size: 16px;
}
.initiative-by img{
  width: 20vw;
  height: 5vw;
  border: 1px solid black;
}
.initiative-by p:last-child{
  font-family: AvenirNext;
  font-size: 18px;
}
.mobile-screen{
  position: absolute;
  height: 46.5vw;
  width: 30vw;
  border: 1px solid #eee;
  right: 8vw;
  top: 4vw;
  background: #fff;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);

}
.rating-on-mobile{
  position: absolute;
  right: 4vw;
  top: 35vw;
  width: 38vw;
  height: 7vw;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.restaurant-info{
  width: 90%;
  height: 38.45vw;
  margin: 8vw 5% 0 5%;
  border: 2px solid #444;
  border-bottom: 0;
  border-radius: 5px;
}
.restaurant-info img{
  width: 100%;
}
.restaurant-details .name{
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 1.8vw;
  text-align: left;
  color: var(--dark-blue-grey);
}
.restaurant-details .location{
  font-family: Arial;
  font-size: 1.1vw;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: var(--warm-grey);
}
.restaurant-details .res-rating{
  position: absolute;
  font-family: AvenirNext;
  top: 10vw;
  right: 2.5vw;
  padding: 5px 10px;
  border-radius: 5px;
  background:#a9c346;
  color: #fff;
}
.restaurant-rating {
  margin: 1.5vw;
  display: inline-flex;
}
.rating-div{
  background: #e1767c;
  padding: .3vw;
  border-radius: 50%;
  height: 3.7vw;
}
.restaurant-rating p{
  color: var(--warm-grey);
  font-family: AvenirNext;
  margin: 0 0 5px 10px;
}
.restaurant-rating .rating-got{
  color: #e1767c;
  font-size: 1.8vw;
}
.restaurant-rating .know-more{
  position: absolute;
  top: 3vw;
  right: 20px;
  color: #01b460;
  font-family: Arial;
  font-weight: bold;
}
.restaurant-rating .mobile-layer-1 {
  padding: .5vw;
  background: #e68d92;
  border-radius: 50%;
}
.restaurant-rating .mobile-layer-2 {
  background: #e1767c;
  border-radius: 50%;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: AvenirNext;
  color: #fff;
  padding: .3vw .8vw;
}